<!DOCTYPE html>
<html ng-app="graderApp">
  <head>
    <title>Demo</title>
    <link rel="stylesheet" href="../static/css/main.css"/>
  </head>
  <body>
    <div ng-controller="GraderController">
      <p class="assignment" ng-repeat="assignment in assignments">
      <span class="word" ng-repeat="word in assignment"
        ng-click="wordClicked(word)">
        {{word}}
      </span>
      </p>
      Correct {{word}}</br>
      <input type="text" focus="focusGradeBox"></input>
    </div>
    <script src="../static/lib/angular.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/directives.js"></script>
  </body>
</html>
